<div class="artist-page">
  <h1 class="title">{{album_title}} ({{album_year}})</h1>
  <div class="album">
    <div class="pic">
      <img src="{{album_pic}}" alt="{{album_title}}"><br>
      <a href="" class="btn btn-bh-blue album-add"><i class="icon-plus icon-white"></i> Add to playlist</a>
      <a href="" class="btn btn-bh-green album-play"><i class="icon-play icon-white"></i> Play</a>
    </div>
    <ul class="tracks">
    {{#album_tracks}}
      <li data-id="{{track_id}}">
        <a href="" class="btn btn-round track-play"><i class="icon-play"></i></a>
        <div class="title">
          <div class="inner">
            <a href="{{track_url}}" class="track-link">{{track_title}}</a>
            <span class="delimiter">&mdash;</span>
            <ul class="artists">
            {{#track_artists}}<li><a href="{{artist_url}}" class="artist-page">{{artist_title}}</a></li>{{/track_artists}}
            </ul>
          </div>
        </div>
        <span class="length">{{track_length}}</span>
        <a href="" class="btn btn-round track-add"><i class="icon-plus"></i></a>
      </li>
    {{/album_tracks}}
    </ul>
  </div>
</div>
