<div class="artist-page">
  <h1>{{name}}</h1>
  <div class="artist-info">
    <div class="pic">
      <img src="{{pic}}" alt="{{name}}">
    </div>
    <div class="bio">{{bio}}</div>
  </div>
  <div class="albums">
  {{#albums}}
    <div class="album">
      <div class="pic">
        <img src="{{pic_safe}}" alt="{{title}}"><br>
        <a href="" class="btn btn-success play-all"><i class="icon-plus icon-white"></i> Add to playlist</a>
        <a href="" class="btn btn-info play-all"><i class="icon-play icon-white"></i> Play</a>
      </div>
      <h2 class="title">{{title}} ({{year}})</h2>
      <div class="tracks">
        <table class="table">
          <tbody>
          {{#tracks}}
            <tr>
              <td class="title">
                <a href="" class="btn btn-round track-play"><i class="icon-play"></i></a>
                <a href="" class="track-link">{{title}}</a>
              </td>
              <td class="length">
                <span class="length">{{length}}</span>
                <a href="" class="btn btn-round track-add"><i class="icon-plus"></i></a>
              </td>
            </tr>
          {{/tracks}}
          </tbody>
        </table>
      </div>
    </div>
  {{/albums}}
  </div>
</div>
