@import "bourbon";
@import "bootstrap_custom";
@import "font-awesome";

@import "noise";
@import "buttons";
@import "autocomplete";
@import "artist";
@import "album-track";
@import "player";
@import "playlist";
@import "auth";
@import "popup";
@import "tour";

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: url($white_noise);
}

#main {
  margin-top: 50px;
}

.navbar {
  background-color: #0a3a82;
  background: url($blue_noise);

  .navbar-inner {
    background: none;
    @include background-image(linear-gradient(rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .4) 100%));

    .container {
      overflow: hidden;
    }
  }
  a.brand {
    margin-top: 1px;
    font-family: "Lobster Two", $helvetica;
    font-style: italic;
    font-size: 24px;
    color: #fafafa;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .2);

    &:hover {
      text-shadow: 0 0 5px rgba(255, 255, 255, .7);;
      @include transition (text-shadow 0.5s ease-in-out);
    }
  }
  .navbar-search {
    margin-top: 8px;

    input {
      width: 99px;
      line-height: 16px;

      border-color: rgba(0, 0, 0, .4);
      background-color: rgba(0, 0, 0, .3);
    }
  }
}
