.autocomplete-w1 {
  margin: 8px 0 0 0;
  width: 274px;
  background: {
    color: #124ba8;
    color: rgba(18, 75, 158, .95);
  }
  @include box-shadow(5px 14px 5px rgba(0, 0, 0, .15));

  .autocomplete {
    max-height: 330px !important;

    div {
      width: 264px;
      padding: 5px 5px;
      border: {
        color: transparent;
        style: solid;
        width: 1px;
      }
      color: #f0f0f0;

      &:last-child {
        border-bottom: {
          left-radius: 5px;
          right-radius: 5px;
        }
      }

      &.selected {
        color: #ffffff;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 5px;
      }
    }
  }
}
