.player {
  width: 467px;

  .controls {
    float: left;
    margin: 1px 0 0 -109px;

    a {
      @include inline-block;
      margin: 11px 6px 0 0;
      font-size: 22px;
      color: #e0e0e0;
      text-shadow: 0 0 2px rgba(255, 255, 255, .6);
      text-decoration: none;

      &:hover {
        color: #fafafa;
        text-shadow: 0 0 4px rgba(255, 255, 255, .9);
      }
    }

    .pause {
      display: none;
    }
  }
  .progress-bar {
    position: relative;
    width: 100%;
    height: 28px;
    margin: 6px 0 0;
    background-color: rgba(0, 0, 0, .3);
    border: {
      style: solid;
      width: 1px;
      color: rgba(0, 0, 0, .3);
      radius: 4px;
    }
    @include box-shadow(inset 0 0 1px rgba(0, 0, 0, .2));

    .bar {
      position: absolute;
      width: 0%;
      height: 28px;
      background-color: rgba(255, 255, 255, .1);
      @include box-shadow(inset 0 0 2px rgba(255, 255, 255, .2));
      @include border-radius(4px 0px 0px 4px);
    }
    .title {
      position: absolute;
      left: 8px;
      font: {
        family: "Source Sans Pro", $helvetica;
        size: 14px;
      }
      line-height: 26px;
      color: #ffffff;
      text-shadow: 1px 1px 0 rgba(80, 80, 80, .4);
    }
    .move-it {
      position: absolute;
      width: 100%;
      height: 26px;
      z-index: 9999;
    }
  }
}
