.player.pull-right
  .controls
    %a.icon-backward.prev{ href: "" }
    %a.icon-play.play{ href: "" }
    %a.icon-pause.pause{ href: "" }
    %a.icon-forward.next{ href: "" }
  .progress-bar
    .bar
    .title Waiting...
    .move-it
