%ul.playlist
  %li
    .inner
      %span.artists Foo Fighters
      %span.title This Is a Call
      %span.length 3:53
  %li.active
    .inner
      %span.artists Foo Fighters
      %span.title I'll Stick Around
      %span.length 3:53
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Big Me
      %span.length 2:12
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Alone + Easy Target
      %span.length 4:05
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Good Grief
      %span.length 4:01
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Floaty
      %span.length 4:30
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Weenie Beenie
      %span.length 2:45
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Oh, George
      %span.length 3:00
  %li
    .inner
      %span.artists Foo Fighters
      %span.title For All the Cows
      %span.length 4:13
  %li
    .inner
      %span.artists Foo Fighters
      %span.title X-Static
      %span.length 4:01
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Wattershed
      %span.length 2:15
  %li
    .inner
      %span.artists Foo Fighters
      %span.title Exhausted
      %span.length 5:47
