<div class="player pull-right">
  <div class="controls">
    <a href="" class="btn btn-bh-dark prev"><i class="icon-backward icon-white"></i></a>
    <a href="" class="btn btn-bh-dark play"><i class="icon-play icon-white"></i></a>
    <a href="" class="btn btn-bh-dark pause"><i class="icon-pause icon-white"></i></a>
    <a href="" class="btn btn-bh-dark next"><i class="icon-forward icon-white"></i></a>
  </div>
  <div class="progress-bar">
    <div class="bar"></div>
    <div class="title">Waiting...</div>
    <div class="move-it"></div>
  </div>
</div>
