<!DOCTYPE html>
<html>
<head>
  <title>BeatHaven</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="">BeatHaven</a>
        <form class="navbar-search pull-left">
          <input type="search" placeholder="Search" class="search-query">
        </form>
        <div class="player pull-right">
          <div class="controls">
            <a href="" class="btn btn-bh-dark prev"><i class="icon-backward icon-white"></i></a>
            <a href="" class="btn btn-bh-dark pause"><i class="icon-pause icon-white"></i></a>
            <a href="" class="btn btn-bh-dark next"><i class="icon-forward icon-white"></i></a>
          </div>
          <div class="progress-bar">
            <div class="bar" style="width: 42%"></div>
            <div class="title">Foo Fighters &mdash; Alone + Easy Target</div>
            <div class="move-it"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main">You can't steal what's free</div>

</body>
</html>
